header {
    display: flex;
    align-items: center;
    font-size: calc(6px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
    justify-content: center;
    margin-bottom: 2em;
    background: #837f7f;
    color: #fff;
    min-height: 2vh;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

header h1 {
    font-weight: 400;
}

ul, ol {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* grid-gap: 0.35em; */
    margin: 0 auto;
    max-width: 64em;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-left: 0;
    font-size: calc(13px + (21 - 16) * ((100vw - 300px) / (1600 - 300)));
}

ul.weekdays {
    margin-bottom: 1em;
}

ul.weekdays li {
    height: 4vw;
}

ol.scrollercontent li {
    background-color: #eaeaea;
    border: 1px solid #eaeaea;
    height: 12vw;
    max-height: 125px;

    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}

ul.weekdays abbr[title] {
    border: none;
    font-weight: 800;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

.calendar-container {
    position: relative;
}

.litoday {
    background-color: #f1e0d8 !important;
}

.daycell span {
    position: absolute;
    top: 5pt;
    left: 5pt;
    font-size: 2vw;
    color: #777;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;

}

.daycell {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.weekendday {
    filter: brightness(90%);
}

.cell-label-container {
    align-self: flex-start;
    display: flex;
    width: inherit;
    height: calc(2vw + 15pt);
}

.cell-events-container {
    flex: 1;
    align-self: flex-end;
    align-items: baseline;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
    width: inherit;
}

.cell-dotevents-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 6px;
    left: 6px;
}

.dotevent {
    width: 10px;
    height: 10px;
    border-radius: 6px;
    margin-right: 6px;
}

/* .event {
    align-self: stretch;
    flex: 1 1 auto;
    padding: 2px;
    font-size: 9pt;
    background: #95e5b8;
    display: flex;
    align-items: center;
    border-radius: 6px;
    margin: 0px 5px 5px 5px;
} */

.event {
    position: absolute;    
    /* font-size: 9pt; */
    border-radius: 6px;
    margin: 0px 5px 5px 5px;
    align-items: center;
    text-align: left;    
    display: inline-flex;
    z-index: 1000;
    cursor: pointer;

    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.event label {
    font-family: 'Quicksand', sans-serif;
    padding-left: 10px;
    cursor: pointer;
}

.cell-events-more {
    position: absolute;
    bottom: 5px;
    font-size: 10pt;
    font-weight: 400;
    right: 5px;
}

.tooltippanel {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 5px;
    z-index: 100000000;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.tooltiphidden {
    display: none;
}

.infopanel {
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 5px;
    width: 50%;
    height: 35%;
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    visibility: visible;
    opacity: 1;
    /* transition: opacity 0.5s ease-in; */
    transition: all 0.5s linear;
    pointer-events: auto; 
}

.infopanel h4 {
    margin: 15px 15px 5px 15px;
    text-align: left;
}

.infopanel .dotevent {
    margin: 8px 15px 8px 15px;
    position: relative;
}

.infopanel .dotevent h6 {
    display: inline;
    margin: 0px 15px 0px 15px;
    text-align: left;
    position: absolute;
    top: -4px;
    font-size: 10pt;
}

.infodate {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 11pt;
    font-weight: 200;
}

.infopanel p {
    margin: 4px 15px 10px 15px;
    text-align: left;
    flex: 1;
  
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display:-webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient:vertical;
}


.infopanelhidden {
    visibility: hidden;
    opacity: 0;
    /* transition: opacity 0.5s ease-out;
    transition: visibility 1.0s ease-out; */
    transition: all 0.35s linear;
    transform: translate(-50%, 100%);
}

.deletebtn {
    border: 0px solid;
    background: none;
    position: absolute;
    bottom: 10px;
    right: 5px;
    cursor: pointer;
}

.calendar-datepicker {
    position: absolute;
    right: 20px;
}

@media all and (max-width: 800px) {
    /* ul, ol {
    grid-gap: .25em;
} */

    ul.weekdays li {
        font-size: 0;
    }

    ul.weekdays>li abbr:after {
        content: attr(title);
        font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
        text-align: center;
    }
}

@media all and (min-width: 1150px) {
    .daycell span {
        font-size: 21pt !important;
    }

    .cell-label-container {
        height: calc(21pt + 15pt) !important;
    }
}