header {
    display: flex;
    align-items: center;
    font-size: calc(6px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
    justify-content: center;
    margin-bottom: 2em;
    background: #000;
    color: #fff;
    min-height: 2vh;
    text-align: center;
  }
  
  ul, ol {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* grid-gap: 0.35em; */
    margin: 0 auto;
    max-width: 64em;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-left: 0;
    font-size: calc(13px + (21 - 16) * ((100vw - 300px) / (1600 - 300)));
  }
  
  ul.weekdays {
    margin-bottom: 1em;
  }
  
  ul.weekdays li {
    height: 4vw;
  }
  
  ol.scrollercontent li {
    background-color: #eaeaea;
    border: 1px solid #eaeaea;
    height: 12vw;
    max-height: 125px;

    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */      
  }
  
  ul.weekdays abbr[title] {
    border: none;
    font-weight: 800;
    text-decoration: none;
  }

  .litoday {
    background-color: #f7e5e5 !important;
  }

  
  @media all and (max-width: 800px) {
    /* ul, ol {
      grid-gap: .25em;
    } */
    
    ul.weekdays li {
      font-size: 0;
    }
    
    ul.weekdays > li abbr:after {
        content: attr(title);
        font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
      text-align: center;
      }
  }